.nav {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsba(240, 1%, 97%, 0.8);
  gap: 17px;
}
.item {
  display: flex;
  justify-content: flex-end;
  gap: 17px;
}
.tools {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.text {
  height: 60px;
  font-size: 14px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 75px;
}
.shadow {
  width: 100%;
  height: 75px;
  background-image: url(./design/Background.png);
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 140px;
}
.title {
  display: flex;
  font-size: 44px;
  height: 100px;
  color: rgba(110, 110, 115, 1);
}
.title--store {
  background: linear-gradient(
    to right,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1),
    rgba(245, 86, 0, 1)
  );
  width: fit-content;
  background-clip: text;
  color: transparent;
}
.help {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.holboos {
  font-size: 14px;
  color: rgba(0, 102, 204, 1);
}
.store_chat_icon {
  width: 35px;
  height: 35px;
  align-items: flex-start;
}
.help-center {
  display: flex;
}
